<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CSO Chorus</a>
      <ul class="nav">
	<li>{{#link-to 'members'}}Members{{/link-to}}</li>
	<li>{{#link-to 'directory'}}Directory{{/link-to}}</li>
      	<li><a href="#">Chair Schedule</a></li>
      </ul>
    </div>
  </div>

</header>

<div class="container">
  {{outlet}}
</div>
