@import "bootstrap";

.upper-space {
  margin-top: 10px
}

.directory-link {
  font-size: 2em;
}

body {
  padding-top: 40px;
}
/*member directory printout */
.contact-info {
  padding-left: 15px;
}

th.small {
    font-size: 80%;
}

hr {
  margin: 5px;
}
.voice-part-caption {
  float: right;
  margin-right: 10px;
}

a {
  color: black;
}

.directory-name {
  font-weight: bold;
  color: #333;
  font-size: 18px;

}
.spacer-page {
  margin-bottom: 60px;
}

.special-directory-entry {
  margin-bottom: 30px;
}

.dl-horizontal {
  @include clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: $horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $horizontalComponentOffset;
  }
}

.best_in_place {
  cursor: pointer;
}

.best_in_place select {
  width: 100px;
  height: 20px;
  line-height: 20px;
}

a.directory-name:visited {
  color: black;
}
a.directory-name:hover {
  color: white;
}

.hero-unit {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-family: Baskerville,serif;
}

div.jcrop-holder img, img#preview
{
  max-width: none;
}
@media print {
  @page {
    margin: 0.5in;
  }

  a.directory-name:visited {
    color: black;
  }
  .directory-entry {
  page-break-inside: avoid;
  }
  .directory-row {
    margin-left: 20pt;
  }
  .span6 {
    width: 290pt;
  }
  .span3 {
    width: 140pt;
  }
  .span2 {
    width: 90pt;
  }
  .navbar {
    display: none;
  }
}


/* simpleform settings*/

